<footer class="bg-on-surface text-on-primary flex flex-col items-center">
    <div class="flex min-h-20 w-full max-w-5xl flex-row items-center justify-center px-5 py-1.5">
        <span class="text-center"
            >Proyecto Final 1DAM 2025<strong> &copy; Diseñado por Mateo Manchola </strong></span
        >
    </div>
</footer>
