---
import Nav from '@components/layout/main/Nav.astro'
---

<header class="shadow-primary/20 z-50 flex flex-col items-center bg-purple-50/90 shadow-sm sticky top-0">
    <div class="flex h-20 w-full max-w-5xl flex-row items-center justify-between px-5 py-1.5">
        <a href="/"
            ><h1 class="text-4xl text-gray-600">
                Violet<strong class="text-primary text-shadow-lg">Flow</strong>
            </h1></a
        >
        <Nav />
    </div>
</header>
