---
import Form from '@components/ui/Form.astro'
import Input from '@components/ui/Input.astro'
---

<Form action="/login" buttonText="Iniciar Sesión" class="space-y-6" data-redirect="/dashboard">
    <Input
        label="Correo Electrónico"
        name="email"
        type="email"
        autocomplete="email"
        required
        pattern="[^@\\s]+@[^@\\s]+\\.[^@\\s]+"
        title="El correo electrónico debe tener un formato válido"
    />
    <Input
        label="Contraseña"
        name="password"
        type="password"
        autocomplete="current-password"
        required
    />
    <a href="/pricing" class="mb-2 inline-block text-center text-sm"
        >¿No tienes una cuenta? <br /> Elige uno de nuestros productos y <u
            class="hover:text-primary text-nowrap">Regístrate aquí</u
        >
    </a>
</Form>
