---
import { Icon } from 'astro-icon/components'
---

<section class="mt-16 flex max-w-6xl flex-col gap-10 md:gap-8 lg:grid lg:grid-cols-2 lg:gap-12">
    <h2 class="col-span-2 mb-4 text-center text-3xl font-bold">
        ¿Por qué con <span class="font-extrabold"
            >Violet<strong class="text-shadow-md text-gray-800/80">Flow</strong></span
        >?
    </h2>
    <article class="flex flex-col items-center gap-3 px-5 text-center md:grid md:grid-flow-col">
        <Icon
            name="ic:round-bar-chart"
            class:list="md:text-7xl text-9xl row-span-2 text-primary/60 text-shadow-md text-shadow-primary drop-shadow-md drop-shadow-primary"
        />
        <h3 class="row-start-1 text-2xl font-bold">Organiza tu proceso de ventas con fluidez</h3>
        <p class="row-start-2 px-6">
            Con VioletFlow, cada etapa de tu embudo comercial está estructurada para que tus
            oportunidades fluyan naturalmente desde el primer contacto hasta el cierre. Olvídate del
            caos y empieza a visualizar con claridad el camino de cada cliente.
        </p>
    </article>
    <article class="flex flex-col items-center gap-3 px-5 text-center md:grid md:grid-flow-col">
        <Icon
            name="ic:round-folder-shared"
            class:list="md:text-7xl text-9xl row-span-2 text-primary/60 text-shadow-md text-shadow-primary drop-shadow-md drop-shadow-primary"
        />
        <h3 class="row-start-1 text-2xl font-bold">Gestión centralizada y simplificada</h3>
        <p class="row-start-2 px-6">
            Accede a toda la información de tus clientes, seguimientos y tareas desde un solo lugar.
            VioletFlow te permite tener el control total sin perder tiempo navegando entre múltiples
            plataformas.
        </p>
    </article>
    <article class="flex flex-col items-center gap-3 px-5 text-center md:grid md:grid-flow-col">
        <Icon
            name="ic:round-trending-up"
            class:list="md:text-7xl text-9xl row-span-2 text-primary/60 text-shadow-md text-shadow-primary drop-shadow-md drop-shadow-primary"
        />
        <h3 class="row-start-1 text-2xl font-bold">Diseñado para crecer contigo</h3>
        <p class="row-start-2 px-6">
            Ya sea que estés comenzando o gestionando un equipo de ventas consolidado, VioletFlow se
            adapta a tus necesidades. Su estructura modular permite escalar y personalizar funciones
            a medida que tu negocio evoluciona.
        </p>
    </article>
    <article class="flex flex-col items-center gap-3 px-5 text-center md:grid md:grid-flow-col">
        <Icon
            name="ic:round-design-services"
            class:list="md:text-7xl text-9xl row-span-2 text-primary/60 text-shadow-md text-shadow-primary drop-shadow-md drop-shadow-primary"
        />
        <h3 class="row-start-1 text-2xl font-bold">
            Interfaz intuitiva y experiencia centrada en el usuario
        </h3>
        <p class="row-start-2 px-6">
            Cada rincón de VioletFlow ha sido pensado para ofrecerte una experiencia fluida y sin
            complicaciones. Desde el primer uso, sentirás que todo está en el lugar correcto,
            ayudándote a enfocarte en vender, no en aprender a usar un sistema.
        </p>
    </article>
</section>
