<section
    class="bg-primary text-on-primary mt-20 flex w-screen flex-col items-center gap-7 px-4 py-14 text-center"
>
    <h2 class="text-4xl font-extrabold">Fluye. Conecta. Vende.</h2>
    <span class="text-xl">Crea tu cuenta hoy y obtén 30 dias de prueba gratuita</span>
    <a
        href="/#pricing"
        class="from-secondary/30 to-secondary hover:to-secondary/30 hover:from-secondary text-shadow-sm inline-flex w-full max-w-xs justify-between rounded-xl bg-gradient-to-br px-4 py-2 text-xl font-bold shadow-md transition-colors after:content-['>>']"
        >Empieza Ahora
    </a>
</section>
