---
import Layout from '@layout'
---

<Layout title="Pagina no encontrada">
    <section class="flex h-full flex-col items-center justify-center px-10 py-20 text-center">
        <h1 class="text-primary text-shadow-sm text-shadow-primary/80 text-4xl font-bold">404</h1>
        <p class="mt-4 text-lg">Lo siento, No hemos encontrado esta pagina</p>
        <a href="/" class="mt-6 text-blue-500 hover:underline">Volver a fluir</a>
    </section>
</Layout>
