---
import Layout from '@layout'
import ContactForm from '@components/ContactForm.astro'
---

<Layout title="Contáctanos">
    <h1 class="text-primary mx-3 mb-2 mt-5 text-center text-2xl font-bold sm:text-3xl">
        ¿Necesitas ayuda para elegir el plan ideal y hacer fluir tu negocio?
    </h1>
    <p class="mx-3 mb-3 mt-4 text-center text-base">
        <strong>¡Contáctanos!</strong> y uno de nuestros profesionales te ayudara a encontrar el plan
        perfecto para tu empresa.
    </p>
    <ContactForm />
</Layout>
