<header class="shadow-primary/20 flex flex-col items-center bg-purple-50/60 shadow-sm">
    <div class="flex h-20 w-full max-w-5xl flex-row items-center justify-between px-5 py-1.5">
        <h1 class="text-on-surface text-4xl">Violet<strong class="text-primary">Flow</strong></h1>
    </div>
</header>
